/**
CSS for the program.
*/

.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-background: rgb(165, 168, 143);
}

#headOne {
    -fx-font: bold 12pt "Arial";
    -fx-text-fill:  #0000cd;
}

#headTwo {
    -fx-font: bold 11pt "Arial";
    -fx-text-fill: #0000ff;
}

#headThree {
    -fx-font: bold 10pt "Arial";
    -fx-text-fill: #0000ff;
}

.lista1 {
    -fx-background-color: #0000ff;
    -fx-font: 8pt "Arial";
    -fx-text-fill: #808080;
}

.button1{
    -fx-font: bold 9pt "Arial";
    -fx-text-fill: #000080;
    -fx-background-color: #00bfff;
    -fx-border-radius: 18;
    -fx-background-radius: 18;
    fx-padding: 3;
}

#label1 {
    -fx-font: bold 10pt "Arial";
    -fx-text-fill: #1e90ff;
}

#label2 {
    -fx-font: bold 10pt "Arial";
    -fx-text-fill: #6495ed;
}

#label3 {
    -fx-font: bold 10pt "Arial";
    -fx-text-fill: #87ceeb;
}

#label4 {
    -fx-font: bold 10pt "Arial";
    -fx-text-fill: #87cefa;
}